@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}




.signup-page {
  width: 360px;
  padding: 2% 0 0;
  margin: auto;
}


.form {
  position: relative;
  
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;

}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #FFFFFF;
  width: 100%;
  border: 3;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form select{
font-family: "Roboto", sans-serif;
  outline: 0;
  background: #FFFFFF;
  width: 100%;
  border: 3;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;


}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 3;
  margin: 0 0 15px;
  padding: 15px 32px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;

}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
body {
  background-image: url("photo.png"); 
  font-family: "Roboto", sans-serif;
}
